@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.custom-navbar {
    background-color: #D1F2EB;
}

.custom-button{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-button:hover{
    transform: scale(1.1); /* Escalar el botón un poco */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

/* About Us Styles*/
main {
    margin-top: 150px; /* Ajusta este valor según la altura de tu barra de navegación */
}

.custom-navbar {
    background-color: #D1F2EB;
}

.custom-button{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.custom-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.nav-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

.nav-link {
    font-size: 1.2rem;
}
.card-img-custom {
    object-fit: cover;
    width: 100%;
    height: 200px;
}


.no-hover:hover {
    background-color: unset;
    box-shadow: none;

}

.animation {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animation:hover {
    transform: scale(2.1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

#img-about-us, #img-services {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#img-about-us:hover, #img-services:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);

}
